<div class='container'>
  <div class='panel panel-primary'>
    <div class='panel-heading'>Updation Product</div>
    <form #editForm='ngForm' (ngSubmit)=editedInfo(editForm)>

      <input type='hidden' name='key' [(ngModel)]=productData.key #key1='ngModel'/>

      <input type='hidden' name='category' [(ngModel)]=productData.category #category1='ngModel'/>

      <div class='panel-body'>
        <div class='form-group'>
          <label>Product Name</label>
          <input type='text' class='form-control' name='productName' [(ngModel)]=productData.productName #name1="ngModel"/> 
        </div>

        <div class='form-group'>
          <label>Brand</label>
          <input type='text' name='productBrand' class='form-control' [(ngModel)]=productData.productBrand #brand1="ngModel"/>
        </div>

        <div class='form-group'>
          <label>Price</label>
          <input type='number' name='productPrice' class='form-control' [(ngModel)]=productData.productPrice #price1="ngModel"/>
        </div>

        <div class='form-group'>
          <label>Product Image Url</label>
          <input type='text' name='productImg' class='form-control' [(ngModel)]=productData.productImg #image1="ngModel"/>
        </div>


        <div class='form-group' *ngIf=productData.productImg>
          <img src='{{productData.productImg}}' alt='no Image' class='img-thumbnail viewsmallImage'/>
        </div>

        <button type='submit' class='btn btn-primary'>Done</button>
    </div>
    </form>
  </div>
</div>

<!-- <div>
{{editForm.value | json}}
</div> -->
